---
import type { RepositoriesResponse } from "interfaces/repositories.interface";
import { githubApi } from "../api/api";
import Card from "./ui/Card.astro";

const { data } = await githubApi.get<RepositoriesResponse[]>(`https://api.github.com/users/jblSomoza/repos`);
---

<section
	data-testid="projects"
	id="projects"
	class="mb-10 flex flex-col items-center justify-center md:mb-0 md:h-screen"
>
	<h2 class="font-monospace text-2xl text-orange lg:text-4xl">Projects</h2>
	<span class="mb-10 h-1 w-10 bg-orange"></span>
	<div class="mb-10 flex w-full flex-col flex-wrap items-center md:flex-row">
		{
			data.map((project) => (
				<Card
					data={ project }
				/>
			))
		}
	</div>	
</section>
